<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">
	
	<!--MATERIALS-->
	<material name="silver">
		<color rgba="0.75 0.75 0.75 1"/>
	</material>

	<material name="gold">
		<color rgba="0.90 0.80 0 1"/>
	</material>

	<material name="black">
		<color rgba="0 0 0 1"/>
	</material>
	
	<!--CONSTANTS-->
	<xacro:property name="camera_depth" value="0.032"/>
	<xacro:property name="mount_thickness" value="0.0025"/>
	<xacro:property name="gripper_plate" value="0.00647"/>
	<xacro:property name="mount_plate" value="0.00317"/>
	<xacro:property name="box_depth" value="0.045"/>
	<xacro:property name="top_mid_mount_plate" value="0.0635"/>
	<xacro:property name="camera_height" value="0.03"/>
	<xacro:property name="finger_height" value="0.01092"/>
	<xacro:property name="slide_to_box" value="0.0111"/>
    
	<!--MOUNT ADAPTER PLATE 3.175mm-->
	<link name="mount_adapter">
		<visual>
			<geometry>
				<mesh filename="file:///home/feykenews/ros2_humble/src/urdf_tings/meshes/UR20_MOUNT_PLATE_VISUAL.STL"/>
			</geometry>
			<material name="gold"/>
			<origin rpy="0 0 0" xyz="${camera_depth + mount_thickness} 0 ${-1*(top_mid_mount_plate + camera_height)}"/>
		</visual>
		<collision>
			<origin rpy="0 0 0" xyz="${camera_depth + mount_thickness} 0 ${-1*(top_mid_mount_plate + camera_height)}"/>
			<geometry>
				<mesh filename="file:///home/feykenews/ros2_humble/src/urdf_tings/meshes/UR20_MOUNT_PLATE.STL"/>
			</geometry>
		</collision>
	</link>

	<joint name="mount_adapter" type="fixed">
		<parent link="base_link"/>
		<child link="mount_adapter"/>
	</joint>

</robot>